section#glance(layout="column" layout-padding)

  //- ================================================================================================

  header(layout="row")
    span(ng-bind-html="ctrl.title | trust")

  //- ================================================================================================

  md-content

    //- ------------------------------------------------------------------------------------------------

    md-content
      md-table-container

        table(md-table ng-if="!ctrl.noData")

          thead(md-head md-order="ctrl.query.order" md-on-reorder="ctrl.reorder")
            tr(md-row)

              th(md-column md-order-by="repName"): span Employee
              th(md-column): span PRE-CALL<br>PLANNING
              th(md-column): span OPEN/ESTAB <br>RAPPORT
              th(md-column): span EFFECTIVE<br>QUESTIONING
              th(md-column): span PRODUCT<br>POSITIONING
              th(md-column): span HANDLING<br>OBJECTIONS
              th(md-column): span GAINING<br>COMMITMENT
              th(md-column): span POST-CALL<br>ANALYSIS
              th(md-column): span PROD/SCIEN<br>KNOWLEDGE
              th(md-column): span BUS ANALYTIC<br>& PLANNING
              th(md-column): span TEAM & LEAD<br>EFFECTIVE
              th(md-column width="1%")

          tbody(md-body)
            tr.clickable(md-row ng-repeat="item in ctrl.tableData | orderBy: ctrl.query.order | filter:filter:strict | limitTo:ctrl.query.limit:(ctrl.query.page - 1) * ctrl.query.limit" ng-click='ctrl.viewData($event, item.userId)')
              td(md-cell) {{ item.name }}
              td(md-cell) {{ item.totals[0] }}
              td(md-cell) {{ item.totals[1] }}
              td(md-cell) {{ item.totals[2] }}
              td(md-cell) {{ item.totals[3] }}
              td(md-cell) {{ item.totals[4] }}
              td(md-cell) {{ item.totals[5] }}
              td(md-cell) {{ item.totals[6] }}
              td(md-cell) {{ item.totals[7] }}
              td(md-cell) {{ item.totals[8] }}
              td(md-cell) {{ item.totals[9] }}
              td(md-cell width="1%")
                md-menu
                  md-button.md-icon-button(aria-label='Open row interactions menu', ng-click='ctrl.openMenu($mdMenu, $event)')
                    md-icon(md-menu-origin md-svg-icon='images/md-svg/more_vert.svg')
                  md-menu-content(width='4')
                    md-menu-item
                      md-button(ng-click='ctrl.viewEmployeeData($event, data.employee.id)')
                        md-icon(md-svg-icon='images/md-svg/donut_large.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.employeeData | trust")
                        //- View Employee Data
                    md-menu-item
                      md-button(ng-click='ctrl.viewEmployeeFCRs($event, data.employee.id)')
                        md-icon(md-svg-icon='images/md-svg/library_books.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.employeeFcrs | trust")
                        //- View Employee FCRs

      md-table-pagination(ng-hide="ctrl.noData" md-limit="ctrl.query.limit" md-limit-options="ctrl.query.limitOptions" md-page="ctrl.query.page" md-total="{{ctrl.tableData.length}}" md-on-paginate="ctrl.paginate()" md-page-select md-label="{page: '{{$root.locale.global.rows | trust}}:', rowsPerPage: '{{$root.locale.global.rowsPerPage | trust}}:', of: '{{$root.locale.global.of | trust}}'}")

  //- ================================================================================================

  .no-data(ng-if="ctrl.noData" flex layout="row" ng-bind-html="::$root.locale.global.noData | trust")
  .data-loading(ng-if="ctrl.dataLoading && !ctrl.noData" flex layout="row" layout-align="center center" ng-bind-html="::$root.locale.global.loading | trust")

  //- ================================================================================================