section#glance(layout="column" layout-padding)

  //- ================================================================================================

  header(layout="row")
    span(ng-bind-html="ctrl.title | trust")

  //- ================================================================================================

  //- employee sees
  md-content(ng-if="$root.Users.active.group.level == 1")

    .grid(flex layout="row")
      .grid-section(flex="40")
        .grid-tile(layout="column" layout-align="center center")
          label # Completed FCRs Virtual
          span(ng-if="!ctrl.noData") {{ ctrl.info.statusCounts.virtual }}
          span(ng-if="ctrl.noData") 0
        .grid-tile(layout="column" layout-align="center center")
          label # Completed FCRs Live
          span(ng-if="!ctrl.noData") {{ ctrl.info.statusCounts.live }}
          span(ng-if="ctrl.noData") 0
      .grid-section.chart(flex="40" layout="column" layout-align="center center")
        label(ng-bind-html="::$root.locale.components.glance.manager | trust")
        //- Manager
        span {{ $root.defaults.activeDistricts[ ctrl.user.districtId ].manager.email | shorten }}
      .grid-section(flex="20")
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.district | trust")
          //- District
          span {{ $root.defaults.activeDistricts[ ctrl.user.districtId ].name }}
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.lastFcr | trust")
          //- Date of Last FCR Completed
          span(ng-if="!ctrl.noData") {{ ctrl.info.maxDate | tsFormat }}
          span(ng-if="ctrl.noData") N/A

  //- ================================================================================================

  //- district manager sees
  md-content(ng-if="$root.Users.active.group.level == 2")

    .grid(flex layout="row")
      .grid-section.chart(flex="50" layout="column" layout-align="center center")
        label(ng-bind-html="::$root.locale.components.glance.manager | trust")
        //- Manager
        span {{ $root.Users.getName($root.Users.active) | shorten }}
      .grid-section.chart(flex="20" layout="column" layout-align="center center")
        label(ng-bind-html="::$root.locale.components.glance.completedFcrs | trust")
        //- # Completed FCRs
        span(ng-if="!ctrl.noData") {{ ctrl.info.completed }}
        span(ng-if="ctrl.noData") 0
      .grid-section(flex="30")
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.submission | trust")
          //- Avg. Days for FCR Submission
          span(ng-if="!ctrl.noData") {{ ctrl.info.timeToSubmit.inDays }}
          span(ng-if="ctrl.noData") N/A
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.numEmployees | trust")
          //- # Employees
          span(ng-if="ctrl.noData") 0
          span(ng-if="!ctrl.noData") {{ ctrl.info.employees }}

    //- ------------------------------------------------------------------------------------------------

    md-content
      md-table-container

        table(md-table ng-if="!ctrl.noData")

          thead(md-head md-order="ctrl.query.order" md-on-reorder="ctrl.reorder")
            tr(md-row)
              th(md-column ng-if="$root.Users.showInitials('glance')")
                span(ng-bind="$root.defaults.initials.type")
              th(md-column md-order-by="employee")
                span(ng-bind-html="::$root.locale.components.evaluatees.evaluatee | trust")
              th(md-column md-order-by="lastCompletedDate")
                span(ng-bind-html="::$root.locale.components.glance.dateLastFcr | trust")
              th(md-column md-order-by="totalDays")
                span(ng-bind-html="::$root.locale.components.glance.totalDays | trust")
              th(md-column md-order-by="totalDaysLive")
                span(ng-bind-html="::$root.locale.components.glance.totalDaysLive | trust")
              th(md-column md-order-by="totalDaysVirtual")
                span(ng-bind-html="::$root.locale.components.glance.totalDaysVirtual | trust")
              th(md-column md-order-by="totalCompleted")
                span(ng-bind-html="::$root.locale.components.glance.completedFcrs | trust")
              th(md-column width="1%")

          tbody(md-body)
            tr.clickable(md-row ng-repeat=" data in ctrl.tableData | orderBy: ctrl.query.order | filter:filter:strict | limitTo:ctrl.query.limit:(ctrl.query.page - 1) * ctrl.query.limit" ng-click='ctrl.viewEmployeeData($event, data.employee.id)')
              td(md-cell ng-if="$root.Users.showInitials('competencies')")
                span.initials(ng-class="['initial-' + $root.Users.getInitials(data.employee.id)]") {{ $root.Users.getInitials(data.employee.id) }}
              td(md-cell) {{ data.evaluateeName | shorten }}
              td(md-cell) {{ data.lastCompletedDate | tsFormat }}
              td(md-cell) {{ data.totalDays }}
              td(md-cell) {{ data.totalDaysLive }}
              td(md-cell) {{ data.totalDaysVirtual }}
              td(md-cell) {{ data.totalCompleted }}
              td(md-cell width="1%")
                md-menu
                  md-button.md-icon-button(aria-label='Open row interactions menu', ng-click='ctrl.openMenu($mdMenu, $event)')
                    md-icon(md-menu-origin md-svg-icon='images/md-svg/more_vert.svg')
                  md-menu-content(width='4')
                    md-menu-item
                      md-button(ng-click='ctrl.viewEmployeeData($event, data.employee.id)')
                        md-icon(md-svg-icon='images/md-svg/donut_large.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.employeeData | trust")
                        //- View Employee Data
                    md-menu-item
                      md-button(ng-click='ctrl.viewEmployeeFCRs($event, data.employee.id)')
                        md-icon(md-svg-icon='images/md-svg/library_books.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.employeeFcrs | trust")
                        //- View Employee FCRs

      md-table-pagination(ng-hide="ctrl.noData" md-limit="ctrl.query.limit" md-limit-options="ctrl.query.limitOptions" md-page="ctrl.query.page" md-total="{{ctrl.tableData.length}}" md-on-paginate="ctrl.paginate()" md-page-select md-label="{page: '{{$root.locale.global.rows | trust}}:', rowsPerPage: '{{$root.locale.global.rowsPerPage | trust}}:', of: '{{$root.locale.global.of | trust}}'}")
  //- ================================================================================================

  //- regional manager sees
  md-content(ng-if="$root.Users.active.group.level == 3")

    .grid(flex layout="row")
      .grid-section.chart(flex="50" layout="column" layout-align="center center")
        label(ng-if="$root.defaults.hasRegions" ng-bind-html="::$root.locale.components.glance.regionalManager | trust")
        //- Regional Manager
        label(ng-if="!$root.defaults.hasRegions" ng-bind-html="::$root.locale.components.glance.teamManager | trust")
        //- Team Manager
        span {{ ctrl.info.regionalManagerName | shorten }}
      .grid-section.chart(flex="20" layout="column" layout-align="center center")
        label(ng-bind-html="::$root.locale.components.glance.completedFcrs | trust")
        //- # Completed FCRs
        span(ng-if="!ctrl.noData") {{ ctrl.info.completed }}
        span(ng-if="ctrl.noData") 0
      .grid-section(flex="30")
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.submission | trust")
          //- Avg. Days for FCR Submission
          span(ng-if="!ctrl.noData") {{ ctrl.info.timeToSubmit.inDays }}
          span(ng-if="ctrl.noData") N/A
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.numEmployees | trust")
          //- # Employees
          span(ng-if="ctrl.noData") 0
          span(ng-if="!ctrl.noData") {{ ctrl.info.employees }}

    //- ------------------------------------------------------------------------------------------------

    md-content
      md-table-container

        table(md-table ng-if="!ctrl.noData")

          thead(md-head md-order="ctrl.query.order" md-on-reorder="ctrl.reorder")
            tr(md-row)
              th(md-column md-order-by="name")
                //- District
                span(ng-bind-html="::$root.locale.components.glance.district | trust")
              th(md-column md-order-by="evaluator")
                //- District Manager
                span(ng-bind-html="::$root.locale.components.glance.districtManager | trust")
              th(md-column md-order-by="reps")
                //- # Reps
                span(ng-bind-html="::$root.locale.components.glance.numReps | trust")
              th(md-column md-order-by="totalDays")
                //- # Reps
                span(ng-bind-html="::$root.locale.components.glance.totalDays | trust")
              th(md-column md-order-by="totalDaysLive")
                //- # Reps
                span(ng-bind-html="::$root.locale.components.glance.totalDaysLive | trust")
              th(md-column md-order-by="totalDaysVirtual")
                //- # Reps
                span(ng-bind-html="::$root.locale.components.glance.totalDaysVirtual | trust")
              th(md-column md-order-by="totalDaysOther")
                //- # Reps
                span(ng-bind-html="::$root.locale.components.glance.totalDaysOther | trust")
              th(md-column md-order-by="totalCompleted")
                //- # Completed<br>FCRs
                span(ng-bind-html="::$root.locale.components.glance.completedFcrs | trust")
              //- th(md-column md-order-by="avgRating")
                //- Avg.<br>Rating
                span(ng-bind-html="::$root.locale.components.glance.avgRating | trust")
              th(md-column width="1%")

          tbody(md-body)
            tr.clickable(md-row ng-repeat=" data in ctrl.tableData | orderBy: ctrl.query.order | filter:filter:strict | limitTo:ctrl.query.limit:(ctrl.query.page - 1) * ctrl.query.limit" ng-click='ctrl.viewDistrictData($event, data.evaluatorId)')
              td(md-cell) {{ data.name }}
              td(md-cell) {{ data.evaluatorName }}
              td(md-cell) {{ data.reps }}
              td(md-cell) {{ data.totalDays }}
              td(md-cell) {{ data.totalDaysLive }}
              td(md-cell) {{ data.totalDaysVirtual }}
              td(md-cell) {{ data.totalDaysOther }}
              td(md-cell) {{ data.totalCompleted }}
              //- td(md-cell) {{ data.avgRating }}
              td(md-cell width="1%")
                md-menu
                  md-button.md-icon-button(aria-label='Open row interactions menu', ng-click='ctrl.openMenu($mdMenu, $event)')
                    md-icon(md-menu-origin md-svg-icon='images/md-svg/more_vert.svg')
                  md-menu-content(width='4')
                    md-menu-item
                      md-button(ng-click='ctrl.viewDistrictData($event, data.evaluatorId)')
                        md-icon(md-svg-icon='images/md-svg/donut_large.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.viewDistrictData | trust")
                        //- View District Data

      md-table-pagination(ng-hide="ctrl.noData" md-limit="ctrl.query.limit" md-limit-options="ctrl.query.limitOptions" md-page="ctrl.query.page" md-total="{{ctrl.tableData.length}}" md-on-paginate="ctrl.paginate()" md-page-select md-label="{page: '{{$root.locale.global.rows | trust}}:', rowsPerPage: '{{$root.locale.global.rowsPerPage | trust}}:', of: '{{$root.locale.global.of | trust}}'}")

  //- ================================================================================================

  //- superuser sees
  md-content(ng-if="$root.Users.active.group.level == 4")

    .grid(flex layout="row")
      .grid-section.chart(flex="50" layout="column" layout-align="center center")
        label(ng-bind-html="::$root.locale.components.glance.teamDirector | trust")
        //- Team Director
        span {{ ctrl.info.nationalDirector | shorten }}
      .grid-section.chart(flex="20" layout="column" layout-align="center center")
        label(ng-bind-html="::$root.locale.components.glance.completedFcrs | trust")
        //- # Completed FCRs
        span(ng-if="!ctrl.noData") {{ ctrl.info.completed }}
        span(ng-if="ctrl.noData") 0
      .grid-section(flex="30")
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.submission | trust")
          //- Avg. Days for FCR Submission
          span(ng-if="!ctrl.noData") {{ ctrl.info.timeToSubmit.inDays }}
          span(ng-if="ctrl.noData") N/A
        .grid-tile(layout="column" layout-align="center center")
          label(ng-bind-html="::$root.locale.components.glance.numEmployees | trust")
          //- # Employees
          span(ng-if="ctrl.noData") 0
          span(ng-if="!ctrl.noData") {{ ctrl.info.employees }}

    //- ------------------------------------------------------------------------------------------------

    md-content
      md-table-container

        table(md-table ng-if="!ctrl.noData")

          thead(md-head md-order="ctrl.query.order" md-on-reorder="ctrl.reorder")
            tr(md-row)
              th(md-column md-order-by="name")
                span(ng-bind-html="::$root.locale.components.glance.region | trust")
                //- Region
              th(md-column md-order-by="evaluator")
                span(ng-bind-html="::$root.locale.components.glance.regionalManager | trust")
                //- Region Manager
              th(md-column md-order-by="reps")
                span(ng-bind-html="::$root.locale.components.glance.numReps | trust")
                //- # Reps
              th(md-column md-order-by="totalCompleted")
                span(ng-bind-html="::$root.locale.components.glance.completedFcrs | trust")
                //- # Completed<br>FCRs
              //- th(md-column md-order-by="avgRating")
                span(ng-bind-html="::$root.locale.components.glance.avgRating | trust")
                //- Avg<br>Rating
              th(md-column width="1%")

          tbody(md-body)
            tr.clickable(md-row ng-repeat=" data in ctrl.tableData | orderBy: ctrl.query.order | filter:filter:strict | limitTo:ctrl.query.limit:(ctrl.query.page - 1) * ctrl.query.limit" ng-click='ctrl.viewRegionData($event, data.evaluatorId)')
              td(md-cell) {{ data.name }}
              td(md-cell) {{ data.evaluator }}
              td(md-cell) {{ data.reps }}
              td(md-cell) {{ data.totalCompleted }}
              //- td(md-cell) {{ data.avgRating }}
              td(md-cell width="1%")
                md-menu
                  md-button.md-icon-button(aria-label='Open row interactions menu', ng-click='ctrl.openMenu($mdMenu, $event)')
                    md-icon(md-menu-origin md-svg-icon='images/md-svg/more_vert.svg')
                  md-menu-content(width='4')
                    md-menu-item
                      md-button(ng-click='ctrl.viewRegionData($event, data.evaluatorId)')
                        md-icon(md-svg-icon='images/md-svg/donut_large.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.viewRegionalData | trust")
                        //- View Regional Data

      md-table-pagination(ng-hide="ctrl.noData" md-limit="ctrl.query.limit" md-limit-options="ctrl.query.limitOptions" md-page="ctrl.query.page" md-total="{{ctrl.tableData.length}}" md-on-paginate="ctrl.paginate()" md-page-select md-label="{page: '{{$root.locale.global.rows | trust}}:', rowsPerPage: '{{$root.locale.global.rowsPerPage | trust}}:', of: '{{$root.locale.global.of | trust}}'}")

  //- ================================================================================================

  .no-data(ng-if="ctrl.noData" flex layout="row" ng-bind-html="::$root.locale.global.noData | trust")
  .data-loading(ng-if="ctrl.dataLoading && !ctrl.noData" flex layout="row" layout-align="center center" ng-bind-html="::$root.locale.global.loading | trust")

  //- ================================================================================================