section#glance(layout="column" layout-padding)

  //- ================================================================================================

  header(layout="row")
    span(ng-bind-html="ctrl.title | trust")

  //- ================================================================================================

  //- district manager sees
  md-content(ng-if="$root.Users.active.group.level >= 2 && !ctrl.noData")

    //- ------------------------------------------------------------------------------------------------

    md-content
      md-table-container

        table(md-table ng-if="!ctrl.noData")

          thead(md-head md-order="ctrl.query.order" md-on-reorder="ctrl.reorder")
            tr(md-row)

              th(md-column md-order-by="repName" ng-if="( ( $root.Users.active.group.level == 3 && !$root.defaults.hasRegions ) || ($root.Users.active.group.level == 4 && $root.defaults.hasRegions) )")
                span Team

              th(md-column md-order-by="repName")
                span Employee

              th(md-column md-order-by="managerName")
                span Regional Sales Manager

              th(md-column md-order-by="regionName")
                span Region

              th(md-column md-order-by="submissionDate")
                span FCR Submission Date

              th(md-column width="1%")

          tbody(md-body)
            tr.clickable(md-row ng-repeat=" data in ctrl.tableData | orderBy: ctrl.query.order | filter:filter:strict | limitTo:ctrl.query.limit:(ctrl.query.page - 1) * ctrl.query.limit" ng-click='ctrl.viewData($event, data.repId)')
              td(md-cell ng-if="( ( $root.Users.active.group.level == 3 && !$root.defaults.hasRegions ) || ($root.Users.active.group.level == 4 && $root.defaults.hasRegions) )")
                span.initials(ng-class="['initial-' + data.regionInitials]") {{ data.regionInitials }}
              td(md-cell) {{ data.repName | shorten }}
              td(md-cell) {{ data.managerName | shorten }}
              td(md-cell) {{ data.districtName }}
              td(md-cell) {{ data.submissionDate | date:'M/d/yyyy' }}
              td(md-cell width="1%")
                md-menu
                  md-button.md-icon-button(aria-label='Open row interactions menu', ng-click='ctrl.openMenu($mdMenu, $event)')
                    md-icon(md-menu-origin md-svg-icon='images/md-svg/more_vert.svg')
                  md-menu-content(width='4')
                    md-menu-item
                      md-button(ng-click='$root.Forms.openForm(data.repId, data.submissionId)')
                        md-icon(md-svg-icon='images/md-svg/open_in_new.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.global.viewFcr | trust")
                        //- View FCR
                    md-menu-item
                      md-button(ng-click='$root.Forms.printForm(data.repId, data.submissionId)')
                        md-icon(md-svg-icon='images/md-svg/picture_as_pdf.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.global.downloadFcr | trust")
                        //- Download FCR

      md-table-pagination(ng-hide="ctrl.noData" md-limit="ctrl.query.limit" md-limit-options="ctrl.query.limitOptions" md-page="ctrl.query.page" md-total="{{ctrl.tableData.length}}" md-on-paginate="ctrl.paginate()" md-page-select md-label="{page: '{{$root.locale.global.rows | trust}}:', rowsPerPage: '{{$root.locale.global.rowsPerPage | trust}}:', of: '{{$root.locale.global.of | trust}}'}")

  //- ================================================================================================

  .no-data(ng-if="ctrl.noData" flex layout="row" ng-bind-html="::$root.locale.global.noData | trust")
  .data-loading(ng-if="ctrl.dataLoading && !ctrl.noData" flex layout="row" layout-align="center center" ng-bind-html="::$root.locale.global.loading | trust")

  //- ================================================================================================