section#glance(layout="column" layout-padding)

  //- ================================================================================================

  header(layout="row")
    span(ng-bind-html="ctrl.title | trust")

  //- ================================================================================================

  md-content

    //- ------------------------------------------------------------------------------------------------

    md-content
      md-table-container

        table(md-table ng-if="!ctrl.noData")

          thead(md-head md-order="ctrl.query.order" md-on-reorder="ctrl.reorder")
            tr(md-row)

              th(md-column md-order-by="repName"): span Employee
              th(md-column md-order-by="dateAssigned"): span DATE ASSIGNED
              th(md-column md-order-by="competencyAssigned"): span COMPETENCY ASSIGNED
              th(md-column md-order-by="status"): span STATUS
              th(md-column md-order-by="daysOpen"): span # DAYS OPEN
              th(md-column width="1%")

          tbody(md-body)
            //- tr.clickable(md-row ng-repeat=" data in ctrl.tableData | orderBy: ctrl.query.order | filter:filter:strict | limitTo:ctrl.query.limit:(ctrl.query.page - 1) * ctrl.query.limit" ng-click='ctrl.viewEmployeeData($event, data.employee.id)')
            tr(md-row ng-repeat=" data in ctrl.tableData | orderBy: ctrl.query.order | filter:filter:strict | limitTo:ctrl.query.limit:(ctrl.query.page - 1) * ctrl.query.limit")
              td(md-cell) {{ data.repName }}
              td(md-cell) {{ data.dateAssigned | date:'M/d/yyyy' }}
              td(md-cell) {{ data.competencyAssigned }}
              td(md-cell) {{ data.status }}
              td(md-cell) {{ data.daysOpen }}
              td(md-cell width="1%")
                md-menu
                  md-button.md-icon-button(aria-label='Open row interactions menu', ng-click='ctrl.openMenu($mdMenu, $event)')
                    md-icon(md-menu-origin md-svg-icon='images/md-svg/more_vert.svg')
                  md-menu-content(width='4')
                    md-menu-item
                      md-button(ng-click='ctrl.viewEmployeeData($event, data.employee.id)')
                        md-icon(md-svg-icon='images/md-svg/donut_large.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.employeeData | trust")
                        //- View Employee Data
                    md-menu-item
                      md-button(ng-click='ctrl.viewEmployeeFCRs($event, data.employee.id)')
                        md-icon(md-svg-icon='images/md-svg/library_books.svg' md-menu-align-target)
                        span(ng-bind-html="::$root.locale.components.glance.employeeFcrs | trust")
                        //- View Employee FCRs

      md-table-pagination(ng-hide="ctrl.noData" md-limit="ctrl.query.limit" md-limit-options="ctrl.query.limitOptions" md-page="ctrl.query.page" md-total="{{ctrl.tableData.length}}" md-on-paginate="ctrl.paginate()" md-page-select md-label="{page: '{{$root.locale.global.rows | trust}}:', rowsPerPage: '{{$root.locale.global.rowsPerPage | trust}}:', of: '{{$root.locale.global.of | trust}}'}")

  //- ================================================================================================

  .no-data(ng-if="ctrl.noData" flex layout="row" ng-bind-html="::$root.locale.global.noData | trust")
  .data-loading(ng-if="ctrl.dataLoading && !ctrl.noData" flex layout="row" layout-align="center center" ng-bind-html="::$root.locale.global.loading | trust")

  //- ================================================================================================